.bg_nav {
    background-color: #2C3E50;
}

.fs_12px {
    font-size: 12px;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
   
    margin: 0 !important;
}

.bg_section {
    background-color: #1ABC9C;
}

.mt_1rem {
    margin-top: 1rem;
}



.debug {
    border: 2px solid red;
}

.form_ {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    
  }

.btn_send {
    background-color: #1ABC9C;
}

.bg_footer1 {
    background-color: #3A546D;
}

.bg_footer2 {
    background-color: #2C3E50;
}

.link_footer {
    color: #1ABC9C;
}


.social i {
    display: inline-block;
    margin: 0 2px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 12px;
}

.fa-facebook-f {
    padding: 12px 15px !important;
} 

.fa-google-plus-g {
    padding: 12px 11px !important;
} 

.fa-linkedin-in {
    padding: 12px 13px !important;
} 
  
.social a {
    color: white;
}
  
.social a:hover i {
    color: #2C3E50;
    background-color: white;
} 


