
.bg_dark {
    background-color: #2C3E50;
}

.bg_light {
    background-color: #1ABC9C;

}

.bg_dark2 {
    background-color: #3A546D;
}

.main-header {
    
}

.main-header .row {
    min-height: 90px;
}

#jumbo {
    min-height: 590px;
}



.portfolio_card {
    min-height: 260px;
    background-color: yellow;
    border-radius: 5px;
}




.about_par {
    column-count: 2;
    column-gap: 1.5rem;
}

#about .cointainer, #contact .container {
    max-width: 985px;
}


#contact {
    min-height: 400;
}

#footer1 .row {
    min-height: 230px;
}

#footer2 .row {
    min-height: 110px;
}



.fs_12px {
    font-size: 12px;
}

a, a:hover, a:focus {
    text-decoration: none;
}

nav ul {
    margin: 0; 
    padding:0
}



#footer2 h6 {
    margin: 0; 
    padding:0
}







.debug {
    border: 2px solid black;
}

.form_ {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0%;
}

::placeholder {
    color: black !important;
    
  }

.btn_send {
    background-color: #1ABC9C;
}



.link_footer {
    color: #1ABC9C;
}


.social i {
    display: inline-block;
    margin: 0 2px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 12px;
}

.fa-facebook-f {
    padding: 12px 15px !important;
} 

.fa-google-plus-g {
    padding: 12px 11px !important;
} 

.fa-linkedin-in {
    padding: 12px 13px !important;
} 
  
.social a {
    color: white;
}
  
.social a:hover i {
    color: #2C3E50;
    background-color: white;
} 


@media all and (min-width: 769px) {
    .about_par {
        column-count: 2;
        column-gap: 1.5rem;
    }
}