
.bg_dark {
    background-color: #2C3E50;
}

.bg_light {
    background-color: #1ABC9C;

}

.bg_dark2 {
    background-color: #3A546D;
}

.main-header {
    
}

.main-header .row {
    min-height: 90px;
}

#jumbo {
    min-height: 500px;
}

.avatar {
    width: 215px;
    padding-bottom: 10px;
}

.fa-star {
    margin: 0 0px;
}

.divider {
    font-size: 2.5rem;
  }
  
.divider::before, .divider::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 15%;
    position: relative;
    top: -10px;
    border-radius: 100px;
}
  
.black_star::before, .black_star::after {
    background-color: #000;
}
  
.white_star::before, .white_star::after {
    background-color: #FFF;
}


.min_height {
    min-height: 200px;
}


.image-container img {

    width: 100%;
    object-fit: cover;
    
    border-radius: 5px;
}

.image-container {
    position: relative;
    width: 100%;
    
    padding: 0;
    
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    border-radius: 5px;
}

.image-container .after i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #FFF;
}


.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}












#about .cointainer, #contact .container {
    max-width: 985px;
}


#contact {
    min-height: 400;
}

#footer1 .row {
    min-height: 230px;
}

#footer2 .row {
    min-height: 110px;
}



.fs_12px {
    font-size: 12px;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.nav_desktop {
    margin: 0; 
    display: none;
}

.nav_style {
    color: black;
}

.link_nav {
    color: black !important;
    
}

.link_burger {
    color: white;
}

.link_burger:hover {
    color: #1ABC9C;
}

.offcanvas_header {
    background-color: #1ABC9C;
    color: white;
}



#footer2 h6 {
    margin: 0; 
    padding:0
}


.custom-toggler.navbar-toggler {
    border-color: white;
    
}


.debug {
    border: 2px solid black;
}

.form_ {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0%;
}

::placeholder {
    color: black !important;
    
  }

.btn_send {
    background-color: #1ABC9C;
}


.link_footer {
    color: #1ABC9C;
}


.social i {
    display: inline-block;
    margin: 0 2px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 12px;
}

.fa-facebook-f {
    padding: 12px 15px !important;
} 

.fa-google-plus-g {
    padding: 12px 11px !important;
} 

.fa-linkedin-in {
    padding: 12px 13px !important;
} 
  
.social a {
    color: white;
}
  
.social a:hover i {
    color: #2C3E50;
    background-color: white;
} 

#jumbo .container {
    display: contents;
}


/* MEDIUM - TABLET */
@media all and (min-width: 769px) {
    .nav_desktop { 
        display: block;
    }

    .burger_hidden {
        display: none !important;
    }


    .about_par {
        column-count: 2;
        column-gap: 1.5rem;
    }

    .fa-star {
        margin: 0 10px;
    }


}

/* LARGE - DESKTOP */
@media all and (min-width: 992px) {
    .cap {
        display: block;
    }

    
}

